name: Create VM at 9 AM IST

on:
  workflow_dispatch:
  #schedule:
    #- cron: "0 3 * * *"      # 3 AM UTC = 9 AM IST
jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.6.5

    - name: Terraform Init
      run: terraform init
      working-directory: ./terraform

    - name: Terraform Apply
      run: terraform apply -auto-approve
      working-directory: ./terraform
      env:
        ARM_CLIENT_ID: ${{ secrets.AZURE_CREDENTIALS_CLIENT_ID }}
        ARM_CLIENT_SECRET: ${{ secrets.AZURE_CREDENTIALS_CLIENT_SECRET }}
        ARM_TENANT_ID: ${{ secrets.AZURE_CREDENTIALS_TENANT_ID }}
        ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_CREDENTIALS_SUBSCRIPTION_ID }}
